.root {
    -fx-font-family: "Open Sans";
    -content-area-background: #F1F2F2;
    -content-background: white;
    -foreground: white;
    -secondary: #264653;
    -primary: #3A5662;
    -header-background: #31B28A;
    -error: red;
}

.side-menu {
    -fx-background-color: -primary;
}

.side-label {
    -fx-font-size: 18px;
    -fx-text-fill: -foreground;
}

.side-btn {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -jfx-button-type: FLAT;
    -fx-font-size: 16px;
    -fx-background-color: -primary;
    -fx-text-fill: -foreground;
}

.side-btn-selected {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -jfx-button-type: FLAT;
    -fx-font-size: 14px;
    -fx-background-color: -secondary;
    -fx-text-fill: #1E736A;
}

.side-btn:hover {
    -fx-background-color: -secondary;
    -fx-text-fill: #1E736A;
}

.page-header {
    -fx-background-color: -header-background;
}

.page-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: -foreground;
}

.content-area {
    -fx-background-color: -content-area-background;
}

.content {
    -fx-background-color: -content-background;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-border-color: gray;
}

.form-btn {
    -fx-border-radius: 10;
    -jfx-button-type: RAISED;
    -fx-font-size: 16px;
    -fx-background-color: -primary;
    -fx-text-fill: -foreground;
}

.error-label {
    -fx-text-fill: -error;
    -fx-font-size: 16px;
}
